@charset "utf-8";
/* CSS Document */
body{
	font-family:sans-serif;
	/*background: rgb(250, 251, 252);*/
}

html,body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

hr {
  border: none;
    height: 1px;
    background-color: #868888;
}

input[type=number]{
	width:50px;
	height:50px;
	text-align:center;
	font-size:14px;
}

input[type=button]{
	margin-top:4%;
	width:100px;
}

canvas {
		padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

footer {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background-color:#f2f2f2;
	position: relative;
	padding: 1em 1em;
	text-align:center;
	font-size:0.7em;
	color:black;
}

footer img{
	width:4em;

}

footer a{
	color: black;                  /* Schriftfarbe schwarz */
	text-decoration: none;         /* Unterstreichung entfernen */
	/* padding:1em 2.5em; */
}

footer a:hover,
footer a:active{
	color: #22ab03;
}

h1 {
  margin-top: 20%;
  margin-bottom: 20%;
  font-size: 200%;
  color: #00796B;
  display: inline;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 180%;
  color: #009688;
}

h3 {

  font-size: 100%;
  color: #b2dfdb;
  /*line-height: 22px;*/
}

h4 {
  font-weight: bold;
  font-size: 100%;
  color: #757575;
  line-height: 17%;
}

header {
  margin-bottom: 4%;
}

main {
  margin: 2%;
}

a {
  color: #00796b;
  font-size: 100%;
  text-decoration: none;
  margin-top: 0%;
  display: block;
}

.matrixFieldset{
	border-style:none;
	margin-left:2.5%;
	margin-right:2.5%;
	padding:2%;
}

legend{
	font-size:18px;
	font-weight:bold;
}





#tErgMatrix td{
	width:50px;
	height:50px;
	text-align:center;
	background-color:#FFF;
	border-style:solid;
	border-color:#999;
	border-width:thin;
	font-size:14px;
	margin-left: 15%;
	}
#tErgMatrix {
	margin-left: 45%;
}

.tools {
	display: flex;
  flex-direction: column;
  justify-content: center;
}

.parameters {
	display: flex;
  flex-direction: row;
  justify-content: center;
}

.avocado {
  margin-top: 30%;
}

.block {
  margin: 2%;
}

.blockleft {
  border: 0;
  border-left: 1px solid #eee;
}

.division {
  border-style: solid;
  border-width: 1px;
}

.blockone {
  padding-left: 15%;
  padding-top: 8%;
}

.firstrow {
  padding-top: 4%;
}

.text-features {
  color: #86bbbb;
}

.text-thin {
  font-weight: 100;
}

.Gus {
  width: 20%;
  height: 20%;
  border-radius: 15px;
}

.title-super {
  font-size: 200%;
}

.img-rounded {
  border-radius: 15px;
}

.background {
  background-color: #fafafa;
}

.backgroundd {
  background-color: #e5fff2;
}

.logo{
  width:45px;
  height:45px;
  border:0;
}

.w3-navbar button {
  border:none;
  padding:8px 16px;
  display:block;
}

.w3-navbar li button{
  cursor:pointer;
}

.w3-blue, .w3-hover-blue:hover {
    color: #fff!important;
    background-color: #86bbbb!important;
}

@media screen and (max-width: 600px)
.w3-topnav, .w3-navbar {
    text-align: center;
}

.w3-navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float:left;
    display:block;padding:8px 16px;
    border:none;outline:none;width:100%
}

.tab{
  color: white;
  font-weight: 300
}

.w3-navbar li {
  float:left
}

.w3-navbar li a,.w3-navitem,.w3-navbar li .w3-btn,.w3-navbar li .w3-input {
  display:block;padding:8px 16px
  }

.w3-navbar li .w3-btn,.w3-navbar li .w3-input {
  border:none;outline:none;width:100%
}

.w3-navbar a,.w3-topnav a,.w3-sidenav a,.w3-dropdown-content a,.w3-accordion-content a,.w3-dropnav a {
  text-decoration:none!important
}


.container {
min-height: 100%;
position: relative;
overflow: hidden;
}


.impressum{
	color:black;
	font-size:0.9em;
	text-align:center;
}
