@charset "utf-8";
/* CSS Document */
body{
	font-family:sans-serif;
}

input[type=number]{
	width:50px;
	height:50px;
	text-align:center;
	font-size:14px;
}

input[type=button]{
	margin-top:4%;
	width:100px;
}

.matrixFieldset{
	border-style:none;

	margin-left:2.5%;
	margin-right:2.5%;
	padding:2%;
}

legend{
	font-size:18px;
	font-weight:bold;
}

#tErgMatrix td{
	width:50px;
	height:50px;
	text-align:center;
	background-color:#FFF;
	border-style:solid;
	border-color:#999;
	border-width:thin;
	font-size:14px;
	margin-left: 15%;
	}
#tErgMatrix {
	margin-left: 45%;
}


canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tools {
	display: flex;
  flex-direction: column;
  justify-content: center;
}

.parameters {
	display: flex;
  flex-direction: row;
  justify-content: center;
}

.avocado {
  margin-top: 30%;
}

.block {
  margin: 2%;
}

.blockleft {
  border: 0;
  border-left: 1px solid #eee;
}

.division {
  border-style: solid;
  border-width: 1px;
}

.blockone {
  padding-left: 15%;
  padding-top: 8%;
}
